{% extends "tau/base.html" %}

{% block title %}Tau{% endblock %}

{% block css %}{% endblock %}

{% block js %}
<script type="text/javascript">
var driveView = "{% url 'DriveView' %}"
var csrftoken="{{ csrf_token }}"
var home = "{% url 'Home' %}"

$(document).ready(function(){
	$("#create").click(function(){
		console.log("Clicked")
		$.post( 
		driveView, 
		{
			action:"create",
			csrfmiddlewaretoken: csrftoken
		},
		function(data, status) {
			if(status==400)
			{$("#error").text(data)}
			else
			{window.location = home}
		});	
	});
});
</script>
{% endblock %}

{% block content %}
	<div class="container" style="padding-top:50px; text-align:center;">
		<h1>Welcome {{request.user.get_short_name}}</h1>
		<h2>This is Tau, The IIT Guwahati Local Drive</h2>
		<!-- Add view to create drive and set its url here -->
			<button class="btn btn-default btn-lg" id="create">
				Create my drive
			</button>
		</form>
	</div>
{% endblock %}