{% extends "tau/base.html" %}

{% block title %}Folder{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'dropzone/dropzone.css' %}">
<link rel="stylesheet" href="{% static 'tau/stylesheets/folder.css' %}">
<link rel="stylesheet" href="{% static 'jQuery-contextMenu/dist/jquery.contextMenu.min.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'dropzone/dropzone.js' %}"></script>
<script src="{% static 'jQuery-contextMenu/dist/jquery.contextMenu.min.js' %}"></script>
<script src="{% static 'jQuery-contextMenu/dist/jquery.ui.position.min.js' %}"></script>
<script src="{% static 'tau/javascripts/folder.js' %}"></script>
<!-- Define context variables needed in external javascript as javascript variables -->
<script type="text/javascript">
	var folderView = "{% url 'FolderView' '' %}";
	var fileView = "{% url 'FileView' %}";
	var errorView = "{% url 'ErrorView' ''%}"
	var path = "{{path}}";
	var csrftoken = '{{ csrf_token }}';
</script>
{% endblock %}

{% block content %}
	<div class="container">
		<!-- Used for Reference and Testing -->
		<h1 style="display:none;">{{path}}</h1> 

		<!-- Breadcrumbs -->
		<ul class="list-inline">
			<li>
				<a href="{% url 'Home' %}" class="btn btn-default btn-lg" >
					Drive
				</a>
			</li>				
			{% for folder,path in path_dict.items %}
					<li>
						<a href="{% url 'FolderView' path %}" class="btn btn-default btn-lg" >
							{{folder}}
						</a>
					</li>
			{% endfor %}
		</ul>
	
		<!-- Divider -->
		<div class="page-header"></div>

		<!-- Dropzone -->
		<form id="uploadzone" class="dropzone" action="{% url 'FileView' %}" enctype="multipart/form-data" method="post">{% csrf_token %}
			<input type="hidden" name="action" value="upload">
			<input type="hidden" name="path" value="{{path}}">
		</form>

		<!-- Folders and Files -->
		<ul class="list-inline">
			<div class="row jumbotron context-menu-jumbotron" style="background-color:#555;min-height:50vh;">
				<div id="folder-list">
				{% for folder in folders %}
					<li>
						<div class="col-lg-2 top-buffer">
							<a href="{% url 'FolderView' folder.path %}" class="btn btn-default btn-lg btn-block context-menu-folder">
								<span class="glyphicon glyphicon-folder-close pull-left" ></span> 
								<span class="text-overflow-hidden">{{ folder.name }}</span>
							</a>
						</div>
					</li>
				{% endfor %}
				</div>
				<div id="file-list">
				{% for file in files %}
					<li>
						<div class="col-lg-2 top-buffer">
							<!-- a href should be set to file download view -->
							<a href="{% url 'FileView' %}?file_id={{file.id}}" class="btn btn-default btn-lg btn-block context-menu-file">
								<span class="glyphicon glyphicon-file pull-left" ></span> 
								<span class="text-overflow-hidden">{{ file.name }}</span>
							</a>

						</div>
					</li>
				{% endfor %}
				</div>
			</div>
		</ul>
	
	</div><!-- /.container -->
{% endblock %}

