{% extends "tau/base.html" %}

{% block title %}Folder{% endblock %}

<!-- {% load static %} -->
{% block css %}
<link rel="stylesheet" href="{% static 'tau/stylesheets/dropzone.css' %}">
<style type="text/css">
.dropzone{
border-top-left-radius:50px; border-top-right-radius:50px; 
margin-bottom:0px; 
background-color:#ccc; 
border:medium dashed #000;
}
</style>
{% endblock %}

{% block js %}
<script src="{% static 'tau/javascripts/dropzone.js' %}"></script>
<script type="text/javascript">
// "upload" is the camelized version of the HTML element's ID
Dropzone.options.upload = {
	paramName: "file", // The name that will be used to transfer the file
	maxFilesize: 25, // MB
	uploadMultiple: false, //Only one file will get uploaded
	init : function(){ this.on("addedfile", function(){console.log("Yo");jQuery("#form").submit();}) }
};
</script>
{% endblock %}

{% block content %}


	<div class="container">
		<!-- Used for Reference -->
		<h1 style="display:none;">{{path}}</h1> 

		<!-- Breadcrumbs -->
		<ul class="list-inline">
					<li>
						<form action="{% url 'FolderView' %}" method='post'>{% csrf_token %}
							<button type="submit" class="btn btn-default btn-lg" >
								Drive
							</button>
						</form>
					</li>				
			{% for folder,path in path_dict.items %}
					<li>
						<form action="{% url 'FolderView' %}" method='post'>{% csrf_token %}
							<input type="hidden" name="path" value="{{path}}">
							<button type="submit" class="btn btn-default btn-lg" >
								{{folder}}
							</button>
						</form>
					</li>
			{% endfor %}
		</ul>
	
		<!-- Divider -->
		<div class="page-header"></div>

		<!-- Dropzone -->
		<form id="upload" class="dropzone" action="{% url 'UploadView' %}" enctype="multipart/form-data">{% csrf_token %}
			<!-- <h4 style="text-align:center;">Drop Your Files Here</h4> -->
			<input type="hidden" name="path" value="{{path}}">
			<!-- <button type="submit" class="btn btn-default btn-lg col-xs-offset-0 col-sm-offset-0 col-md-offset-5 col-lg-offset-5 col-xs-12 col-sm-12 col-md-2 col-lg-2" style="">Upload</button>  -->
		</form>
<!-- 		<form class="dropzone" action="{% url 'FolderView' %}" id="my-awesome-dropzone">
			<button type="submit">ASD</button>
		</form> -->

		<!-- Folders and Files -->
		<ul class="list-inline">
			<div class="row jumbotron" style="background-color:#555">
				{% for folder in folders %}
					<li>
						<div class="col-lg-2">
							<!-- Add button action to open that folder's FolderView -->
							<form action="{% url 'FolderView' %}" method='post'>{% csrf_token %}
								<input type="hidden" name="path" value="{{folder.path}}">
								<button type="submit" class="btn btn-default btn-lg btn-block">
									<span class="glyphicon glyphicon-folder-close pull-left" ></span> 
									{{ folder.name }}
								</button>
							</form>
						</div>
					</li>
				{% endfor %}
				{% for file in files %}
					<li>
						<div class="col-lg-2">
							<!-- Form should goto file download.  -->
							<!-- <form action="{% url 'FolderView' %}" method='post'>{% csrf_token %} -->
								<input type="hidden" name="path" value="{{file.id}}">
								<button type="submit" class="btn btn-default btn-lg btn-block">
									<span class="glyphicon glyphicon-file pull-left" ></span> 
									{{ file.name }}
								</button>
							<!-- </form> -->
						</div>
					</li>
				{% endfor %}
			</div>
		</ul>
	
	</div><!-- /.container -->




















<!-- 	
	We will use Bootstrap Breadcrumbs for path later. 
	<ol class="breadcrumb">
	  <li><a href="#">Home</a></li>
	  <li><a href="#">Library</a></li>
	  <li class="active">Data</li>
	</ol>
-->


{% endblock %}

