{% extends "tau/base.html" %}

{% block title %}Folder{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'tau/stylesheets/dropzone.css' %}">
<style type="text/css">
.dropzone{
border-top-left-radius:50px; border-top-right-radius:50px; 
margin-bottom:0px; 
background-color:#ccc; 
border:medium dashed #000;
}
</style>
{% endblock %}

{% block js %}
<script src="{% static 'tau/javascripts/dropzone.js' %}"></script>
<script type="text/javascript">
// "upload" is the camelized version of the HTML element's ID
Dropzone.options.uploadzone = {
	paramName: "file", // The name that will be used to transfer the file
	maxFilesize: 25, // MB
	uploadMultiple: false, //Only one file will get uploaded
};
</script>
{% endblock %}

{% block content %}
	<div class="container">
		<!-- Used for Reference and Testing -->
		<h1 style="display:none;">{{path}}</h1> 

		<!-- Breadcrumbs -->
		<ul class="list-inline">
			<li>
				<a href="{% url 'Home' %}" class="btn btn-default btn-lg" >
					Drive
				</a>
			</li>				
			{% for folder,path in path_dict.items %}
					<li>
						<a href="{% url 'FolderView' path %}" class="btn btn-default btn-lg" >
							{{folder}}
						</a>
					</li>
			{% endfor %}
		</ul>
	
		<!-- Divider -->
		<div class="page-header"></div>

		<!-- Dropzone -->
		<!-- Change Action to UploadView -->
		<!-- IF ACTION IS EMPTY DROPZONE DOESNT WORK -->
		<form id="uploadzone" class="dropzone" action="some-url" enctype="multipart/form-data">{% csrf_token %}
			<input type="hidden" name="path" value="{{path}}">
		</form>

		<!-- Folders and Files -->
		<ul class="list-inline">
			<div class="row jumbotron" style="background-color:#555">
				{% for folder in folders %}
					<li>
						<div class="col-lg-2">
							<a href="{% url 'FolderView' folder.path %}" class="btn btn-default btn-lg btn-block">
								<span class="glyphicon glyphicon-folder-close pull-left" ></span> 
								{{ folder.name }}
							</a>
						</div>
					</li>
				{% endfor %}
				{% for file in files %}
					<li>
						<div class="col-lg-2">
							<!-- a href should be set to file download view -->
							<a href="{% url 'FileView' %}?file_id={{file.id}}" class="btn btn-default btn-lg btn-block">
								<span class="glyphicon glyphicon-file pull-left" ></span> 
								{{ file.name}}
							</a>

						</div>
					</li>
				{% endfor %}
			</div>
		</ul>
	
	</div><!-- /.container -->
{% endblock %}

