{% extends "tau/base.html" %}

{% block title %}Tau{% endblock %}

{% block css %}{% endblock %}

{% block js %}{% endblock %}

{% block content %}
		<div class="container jumbotron">
			<h2 class="text-info" style="text-align:center;">
				Points to Note : <br/>
			</h2>
			<h3 class="text-primary col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
				1) You cant upload to "Drive" directly <br/>
				2) You need to create folders inside "Drive" and upload there. <br/>
				3) Max Folder Depth - 7 <br/>
				4) Max Subfolders in a Folder - 10 <br/>
				5) Drive Size - 250 Mb (To be increased) <br/>
				6) Max File Size - 25Mb <br/>
				7) Uploading same file twice will result in duplication. <br/>
			</h3>
		</div>
{% endblock %}

